flows.json
[
    {
        "id": "049368fbb51358f1",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6379f67f0d1d27f4",
        "type": "tab",
        "label": "Christmas Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36707912aa1f457f",
        "type": "tab",
        "label": "Washing / Drying",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83b3df7543e2c9f9",
        "type": "tab",
        "label": "Wine Fridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98c80091b4981659",
        "type": "tab",
        "label": "House Mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ced01d7c7ed36fed",
        "type": "tab",
        "label": "Run LetsEncrypt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a4a4140ad6645a3",
        "type": "tab",
        "label": "EV Charging",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80da3ac02bdf624c",
        "type": "group",
        "z": "049368fbb51358f1",
        "name": "Island Lights Night",
        "style": {
            "label": true
        },
        "nodes": [
            "af1449fc1b71965f",
            "9f98d16deb53b04e",
            "72872da00c41da5d",
            "4701654dd07e30c2",
            "5621d2937720fb15",
            "99e5757e3be2c737",
            "86c474d7b2bf1e05",
            "61e6369447c7035f"
        ],
        "x": 54,
        "y": 19,
        "w": 772,
        "h": 262
    },
    {
        "id": "7625374620f2e2e0",
        "type": "group",
        "z": "049368fbb51358f1",
        "name": "Living Room Lights Evening",
        "style": {
            "label": true
        },
        "nodes": [
            "2086e63f1dc6cc9b",
            "108cca404ca1a6d0",
            "2ad43f34e3c19b40",
            "f589455b3d550764",
            "bb41070571278ba8",
            "03cb69799aae3a03",
            "9af836940ce14314",
            "726a019eaa32bf3b"
        ],
        "x": 54,
        "y": 299,
        "w": 992,
        "h": 182
    },
    {
        "id": "f94b8de81daa6fe8",
        "type": "group",
        "z": "36707912aa1f457f",
        "name": "Washing Machine Finished",
        "style": {
            "label": true
        },
        "nodes": [
            "30f69ffe3d2e6dd2",
            "4ed757960569d0b9",
            "4872413ddcac53c6"
        ],
        "x": 54,
        "y": 39,
        "w": 752,
        "h": 82
    },
    {
        "id": "3fd332fa992c7852",
        "type": "group",
        "z": "83b3df7543e2c9f9",
        "name": "Monitor Temperature",
        "style": {
            "label": true
        },
        "nodes": [
            "5bb8a35c674fe66c",
            "8fbc8a7c2791b855",
            "b16710c548e4e279",
            "c1353e8c740151a2"
        ],
        "x": 34,
        "y": 39,
        "w": 832,
        "h": 182
    },
    {
        "id": "24deed5cb7258597",
        "type": "group",
        "z": "6379f67f0d1d27f4",
        "name": "Porch Lights",
        "style": {
            "label": true
        },
        "nodes": [
            "59a657d517ebe9e6",
            "2a8a8c420a1b7321",
            "5f7b054b5d90b4f7",
            "1615ccd28d5d6b62"
        ],
        "x": 54,
        "y": 159,
        "w": 552,
        "h": 142
    },
    {
        "id": "314d02d603a84452",
        "type": "group",
        "z": "6379f67f0d1d27f4",
        "name": "Outside Lights",
        "style": {
            "label": true
        },
        "nodes": [
            "245d2f60afee848b",
            "ea2240c4967780f2",
            "584b34e1de6deda0",
            "8faba930c72aab2d"
        ],
        "x": 54,
        "y": 39,
        "w": 1032,
        "h": 82
    },
    {
        "id": "f9a5a895f56ead7d",
        "type": "group",
        "z": "049368fbb51358f1",
        "name": "Zigbee Switch 1 - Clara's Lights",
        "style": {
            "label": true
        },
        "nodes": [
            "2cb42c0aaa5b2c89",
            "d3313ebb9c3da19f",
            "e60777a3cdbe9384",
            "9fdfa64ab097db2e",
            "87a9648568f2f25f",
            "8352ffad8b1f50cf"
        ],
        "x": 54,
        "y": 499,
        "w": 852,
        "h": 202
    },
    {
        "id": "33a3d7d58c0732f0",
        "type": "group",
        "z": "049368fbb51358f1",
        "name": "Zigbee Switch 3 - Owen's Lamp",
        "style": {
            "label": true
        },
        "nodes": [
            "e19e9bd65de14bc7",
            "c7331c10ed2ffa69",
            "c60bfc919dca4c32",
            "0624c96a9b65ee5b",
            "779a3188ec655e0f",
            "660955855ec9a3f0"
        ],
        "x": 54,
        "y": 719,
        "w": 852,
        "h": 202
    },
    {
        "id": "31f9c979f25ecadc",
        "type": "group",
        "z": "36707912aa1f457f",
        "name": "Washing Machine Run",
        "style": {
            "label": true
        },
        "nodes": [
            "697303f6b03a2565",
            "824b2639ca586871",
            "e54e4e6f46d18749",
            "3cc9ab2afc21cc6b",
            "24486b06538e1e0d",
            "03d59811e3c79f34"
        ],
        "x": 54,
        "y": 159,
        "w": 1192,
        "h": 202
    },
    {
        "id": "79c1e7847be95095",
        "type": "group",
        "z": "3a4a4140ad6645a3",
        "name": "EV Charging / Socket 1 Control",
        "style": {
            "label": true
        },
        "nodes": [
            "2b7fc5ea51bd48b5",
            "7c0a113b73929648",
            "732c6c3a1700068a",
            "99e5715f0c78d45b",
            "4d15ea3a7a62338a",
            "912d186058e1a2cf",
            "744cebedb261bd98",
            "b55638be391227ff",
            "e4af50efbb5e8497",
            "afafd7c351bb67eb",
            "a8b031c1659c5e77",
            "e576113f3c4b11b8",
            "803f456ce66491c3"
        ],
        "x": 54,
        "y": 39,
        "w": 832,
        "h": 382
    },
    {
        "id": "c007e1dde9cb920e",
        "type": "group",
        "z": "36707912aa1f457f",
        "name": "Dryer Run",
        "style": {
            "label": true
        },
        "nodes": [
            "e2294a296af308b7",
            "892bd3539daab1a5",
            "372a410ad19d586b",
            "f670457e61eb5cf4",
            "147fced577b9b1d3"
        ],
        "x": 54,
        "y": 399,
        "w": 1112,
        "h": 142
    },
    {
        "id": "5a2baa393ed09463",
        "type": "group",
        "z": "049368fbb51358f1",
        "name": "Dressing Room Lights",
        "style": {
            "label": true
        },
        "nodes": [
            "3dbbfa06548dd1e9",
            "fd299a0d35cbe195",
            "f34e17e75dea0eb5",
            "6ea673fd2ce4f2d7",
            "e2f3d157c43a4a07",
            "40b14878bcf79959",
            "0f053bb4721de393",
            "cb9b6a4b7aaed1f2",
            "2f7f0517bd3414ad",
            "29cf6bf2f6b9986d"
        ],
        "x": 54,
        "y": 939,
        "w": 1072,
        "h": 202
    },
    {
        "id": "1dd16987.0978c6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "af1449fc1b71965f",
        "type": "server-state-changed",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "Hallway Presence On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.nest_protect_hallway_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "5621d2937720fb15"
            ],
            []
        ]
    },
    {
        "id": "9f98d16deb53b04e",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "Island Lights On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.island_lights_switch"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 680,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "72872da00c41da5d",
        "type": "server-state-changed",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "Hallway Presence Off",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.nest_protect_hallway_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "99e5757e3be2c737"
            ],
            []
        ]
    },
    {
        "id": "4701654dd07e30c2",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "Island Lights Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.island_lights_switch"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5621d2937720fb15",
        "type": "api-current-state",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "House Mode == Night",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Night",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "9f98d16deb53b04e"
            ],
            []
        ]
    },
    {
        "id": "99e5757e3be2c737",
        "type": "api-current-state",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "House Mode == Night",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Night",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "4701654dd07e30c2"
            ],
            []
        ]
    },
    {
        "id": "2086e63f1dc6cc9b",
        "type": "server-state-changed",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "Living Room Presence On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.living_room_presence_sensor_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 340,
        "wires": [
            [
                "9af836940ce14314"
            ],
            []
        ]
    },
    {
        "id": "108cca404ca1a6d0",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "Living Room Lamps On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "3d1f90039ad28309d8485f91e95fe714",
            "877db69da5a6db3b2009fcdabd338f48"
        ],
        "entityId": [],
        "labelId": [],
        "data": "on",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_on",
        "x": 910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2ad43f34e3c19b40",
        "type": "time-range-switch",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "Evening",
        "lat": "53.71986",
        "lon": "-2.6411",
        "startTime": "19:30",
        "endTime": "23:55",
        "startOffset": 0,
        "endOffset": 0,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "bb41070571278ba8"
            ],
            []
        ]
    },
    {
        "id": "f589455b3d550764",
        "type": "server-state-changed",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "Living Room Presence Off",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.living_room_presence_sensor_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "2",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 440,
        "wires": [
            [
                "03cb69799aae3a03"
            ],
            []
        ]
    },
    {
        "id": "bb41070571278ba8",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "Living Room Lamps Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "3d1f90039ad28309d8485f91e95fe714",
            "877db69da5a6db3b2009fcdabd338f48"
        ],
        "entityId": [],
        "labelId": [],
        "data": "on",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_off",
        "x": 910,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "03cb69799aae3a03",
        "type": "api-current-state",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "House Mode == Day",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Day",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "2ad43f34e3c19b40"
            ],
            []
        ]
    },
    {
        "id": "9af836940ce14314",
        "type": "api-current-state",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "House Mode == Day",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Day",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "726a019eaa32bf3b"
            ],
            []
        ]
    },
    {
        "id": "726a019eaa32bf3b",
        "type": "time-range-switch",
        "z": "049368fbb51358f1",
        "g": "7625374620f2e2e0",
        "name": "Evening",
        "lat": "53.71986",
        "lon": "-2.6411",
        "startTime": "19:30",
        "endTime": "23:55",
        "startOffset": 0,
        "endOffset": 0,
        "x": 680,
        "y": 340,
        "wires": [
            [
                "108cca404ca1a6d0"
            ],
            []
        ]
    },
    {
        "id": "2cb42c0aaa5b2c89",
        "type": "server-events",
        "z": "049368fbb51358f1",
        "g": "f9a5a895f56ead7d",
        "name": "",
        "server": "1dd16987.0978c6",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "zha_event",
        "eventData": "",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 170,
        "y": 600,
        "wires": [
            [
                "d3313ebb9c3da19f"
            ]
        ]
    },
    {
        "id": "d3313ebb9c3da19f",
        "type": "switch",
        "z": "049368fbb51358f1",
        "g": "f9a5a895f56ead7d",
        "name": "Zigbee Switch 1",
        "property": "payload.event.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "afc9200b5211793d99a9f0367345cb6b",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 600,
        "wires": [
            [
                "e60777a3cdbe9384"
            ]
        ]
    },
    {
        "id": "e60777a3cdbe9384",
        "type": "switch",
        "z": "049368fbb51358f1",
        "g": "f9a5a895f56ead7d",
        "name": "Commands",
        "property": "payload.event.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "toggle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 600,
        "wires": [
            [
                "9fdfa64ab097db2e"
            ],
            [
                "8352ffad8b1f50cf"
            ],
            [
                "87a9648568f2f25f"
            ]
        ]
    },
    {
        "id": "9fdfa64ab097db2e",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "f9a5a895f56ead7d",
        "name": "Light Toggle",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.toggle",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "218ab0772d94da7ccd2a25243c49fcbc"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "toggle",
        "x": 810,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "87a9648568f2f25f",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "f9a5a895f56ead7d",
        "name": "Light Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "218ab0772d94da7ccd2a25243c49fcbc"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 800,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8352ffad8b1f50cf",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "f9a5a895f56ead7d",
        "name": "Light On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "218ab0772d94da7ccd2a25243c49fcbc"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 800,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e19e9bd65de14bc7",
        "type": "server-events",
        "z": "049368fbb51358f1",
        "g": "33a3d7d58c0732f0",
        "name": "",
        "server": "1dd16987.0978c6",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "zha_event",
        "eventData": "",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 170,
        "y": 820,
        "wires": [
            [
                "c7331c10ed2ffa69"
            ]
        ]
    },
    {
        "id": "c7331c10ed2ffa69",
        "type": "switch",
        "z": "049368fbb51358f1",
        "g": "33a3d7d58c0732f0",
        "name": "Zigbee Switch 3",
        "property": "payload.event.device_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "68f298870f9e4889b7748650bf689549",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 820,
        "wires": [
            [
                "c60bfc919dca4c32"
            ]
        ]
    },
    {
        "id": "c60bfc919dca4c32",
        "type": "switch",
        "z": "049368fbb51358f1",
        "g": "33a3d7d58c0732f0",
        "name": "Commands",
        "property": "payload.event.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "toggle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 820,
        "wires": [
            [
                "0624c96a9b65ee5b"
            ],
            [
                "660955855ec9a3f0"
            ],
            [
                "779a3188ec655e0f"
            ]
        ]
    },
    {
        "id": "0624c96a9b65ee5b",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "33a3d7d58c0732f0",
        "name": "Light Toggle",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.toggle",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c14f48d05ef1a4d29b5e09a748d91510"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "toggle",
        "x": 810,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "779a3188ec655e0f",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "33a3d7d58c0732f0",
        "name": "Light Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c14f48d05ef1a4d29b5e09a748d91510"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 800,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "660955855ec9a3f0",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "33a3d7d58c0732f0",
        "name": "Light On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "c14f48d05ef1a4d29b5e09a748d91510"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 800,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "86c474d7b2bf1e05",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "Utility Room Lights On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "2842e540cafa3871d21a93234584fce4"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "61e6369447c7035f",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "80da3ac02bdf624c",
        "name": "Utility Room Lights Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "2842e540cafa3871d21a93234584fce4"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3dbbfa06548dd1e9",
        "type": "server-state-changed",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Dressing Room Sensor On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.dressing_room_sensor_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fd299a0d35cbe195",
        "type": "server-state-changed",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Dressing Room Sensor Off",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.dressing_room_sensor_occupancy"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 1080,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f34e17e75dea0eb5",
        "type": "api-current-state",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "House Mode == Night",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Night",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 640,
        "y": 980,
        "wires": [
            [
                "40b14878bcf79959"
            ],
            []
        ]
    },
    {
        "id": "6ea673fd2ce4f2d7",
        "type": "api-current-state",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "House Mode == Day",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Day",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "e2f3d157c43a4a07"
            ],
            []
        ]
    },
    {
        "id": "e2f3d157c43a4a07",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Dressing Room Lights On 100%",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "8c7879b9e2440db0819b1412f8cee0eb"
        ],
        "entityId": [],
        "labelId": [],
        "data": "{\"brightness_pct\":100}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_on",
        "x": 970,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "40b14878bcf79959",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Dressing Room Lights On 15%",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "8c7879b9e2440db0819b1412f8cee0eb"
        ],
        "entityId": [],
        "labelId": [],
        "data": "{\"brightness_pct\":15}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_on",
        "x": 970,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "0f053bb4721de393",
        "type": "api-call-service",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Dressing Room Lights Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "light.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [
            "8c7879b9e2440db0819b1412f8cee0eb"
        ],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "light",
        "service": "turn_off",
        "x": 950,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "cb9b6a4b7aaed1f2",
        "type": "time-range-switch",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Night",
        "lat": "53.71986",
        "lon": "-2.6411",
        "startTime": " 01:00",
        "endTime": "07:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "f34e17e75dea0eb5"
            ],
            []
        ]
    },
    {
        "id": "2f7f0517bd3414ad",
        "type": "time-range-switch",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Evening",
        "lat": "53.71986",
        "lon": "-2.6411",
        "startTime": "19:00",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "6ea673fd2ce4f2d7"
            ],
            []
        ]
    },
    {
        "id": "29cf6bf2f6b9986d",
        "type": "time-range-switch",
        "z": "049368fbb51358f1",
        "g": "5a2baa393ed09463",
        "name": "Evening",
        "lat": "53.71986",
        "lon": "-2.6411",
        "startTime": "19:00",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "0f053bb4721de393"
            ],
            []
        ]
    },
    {
        "id": "245d2f60afee848b",
        "type": "server-state-changed",
        "z": "6379f67f0d1d27f4",
        "g": "314d02d603a84452",
        "name": "Ambient Light Change",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.study_sensor_illuminance"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "num",
        "ifState": "75",
        "ifStateType": "num",
        "ifStateOperator": "lt",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "ea2240c4967780f2"
            ],
            []
        ]
    },
    {
        "id": "ea2240c4967780f2",
        "type": "api-current-state",
        "z": "6379f67f0d1d27f4",
        "g": "314d02d603a84452",
        "name": "House Mode == Day",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Day",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "8faba930c72aab2d"
            ],
            []
        ]
    },
    {
        "id": "584b34e1de6deda0",
        "type": "api-call-service",
        "z": "6379f67f0d1d27f4",
        "g": "314d02d603a84452",
        "name": "Turn On Outside Lights",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.disco_room_sockets_switch_1",
            "switch.disco_room_sockets_switch_2",
            "switch.outside_sockets_switch_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 950,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8faba930c72aab2d",
        "type": "time-range-switch",
        "z": "6379f67f0d1d27f4",
        "g": "314d02d603a84452",
        "name": "",
        "lat": "50.12401",
        "lon": "-5.30671",
        "startTime": "10:00:00",
        "endTime": "23:59:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "584b34e1de6deda0"
            ],
            []
        ]
    },
    {
        "id": "59a657d517ebe9e6",
        "type": "inject",
        "z": "6379f67f0d1d27f4",
        "g": "24deed5cb7258597",
        "name": "Leave for Work",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 06 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "2a8a8c420a1b7321"
            ]
        ]
    },
    {
        "id": "2a8a8c420a1b7321",
        "type": "api-call-service",
        "z": "6379f67f0d1d27f4",
        "g": "24deed5cb7258597",
        "name": "Porch Christmas Lights On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.outside_sockets_switch_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5f7b054b5d90b4f7",
        "type": "inject",
        "z": "6379f67f0d1d27f4",
        "g": "24deed5cb7258597",
        "name": "Left for Work",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "45 06 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "1615ccd28d5d6b62"
            ]
        ]
    },
    {
        "id": "1615ccd28d5d6b62",
        "type": "api-call-service",
        "z": "6379f67f0d1d27f4",
        "g": "24deed5cb7258597",
        "name": "Porch Christmas Lights Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.outside_sockets_switch_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "30f69ffe3d2e6dd2",
        "type": "api-call-service",
        "z": "36707912aa1f457f",
        "d": true,
        "g": "f94b8de81daa6fe8",
        "name": "Play Message",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "notify.alexa_media_kitchen_echo",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"The washing machine has finished\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "notify",
        "service": "alexa_media_kitchen_echo",
        "x": 700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4ed757960569d0b9",
        "type": "api-current-state",
        "z": "36707912aa1f457f",
        "d": true,
        "g": "f94b8de81daa6fe8",
        "name": "House Mode == Day",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "Day",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_mode",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 80,
        "wires": [
            [
                "30f69ffe3d2e6dd2"
            ],
            []
        ]
    },
    {
        "id": "4872413ddcac53c6",
        "type": "server-state-changed",
        "z": "36707912aa1f457f",
        "d": true,
        "g": "f94b8de81daa6fe8",
        "name": "Washing Machine Finished",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.siemens_wm14u940gb_68a40e036ee3_bsh_common_status_operationstate"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "BSH.Common.EnumType.OperationState.Finished",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 80,
        "wires": [
            [
                "4ed757960569d0b9"
            ],
            []
        ]
    },
    {
        "id": "697303f6b03a2565",
        "type": "inject",
        "z": "36707912aa1f457f",
        "g": "31f9c979f25ecadc",
        "name": "At 13:30",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "824b2639ca586871",
        "type": "api-call-service",
        "z": "36707912aa1f457f",
        "g": "31f9c979f25ecadc",
        "name": "Start Washing Machine",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": true,
        "action": "home_connect_alt.start_program",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"device_id\":\"f1d0acbde365a96e5a50500f9ce8f2ad\",\"program_key\":\"LaundryCare.Washer.Program.Mix\",\"validate\":true,\"options\":[{\"key\":\"LaundryCare.Washer.Option.Temperature\",\"value\":\"LaundryCare.Washer.EnumType.Temperature.GC40\"},{\"key\":\"LaundryCare.Washer.Option.SpinSpeed\",\"value\":\"LaundryCare.Washer.EnumType.SpinSpeed.RPM1400\"}]}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "home_connect_alt",
        "service": "start_program",
        "x": 1110,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e54e4e6f46d18749",
        "type": "api-current-state",
        "z": "36707912aa1f457f",
        "g": "31f9c979f25ecadc",
        "name": "Washing Machine is Ready",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "BSH.Common.EnumType.OperationState.Ready",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.siemens_wm14u940gb_68a40e036ee3_bsh_common_status_operationstate",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "3cc9ab2afc21cc6b"
            ],
            []
        ]
    },
    {
        "id": "3cc9ab2afc21cc6b",
        "type": "api-current-state",
        "z": "36707912aa1f457f",
        "g": "31f9c979f25ecadc",
        "name": "Washing Machine Remote Start",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.siemens_wm14u940gb_68a40e036ee3_bsh_common_status_remotecontrolstartallowed",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 810,
        "y": 220,
        "wires": [
            [
                "824b2639ca586871"
            ],
            []
        ]
    },
    {
        "id": "24486b06538e1e0d",
        "type": "server-state-changed",
        "z": "36707912aa1f457f",
        "g": "31f9c979f25ecadc",
        "name": "Target Energy Price is On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.octopus_energy_target_washing_machine_night_target"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 260,
        "wires": [
            [
                "e54e4e6f46d18749"
            ],
            []
        ]
    },
    {
        "id": "03d59811e3c79f34",
        "type": "server-state-changed",
        "z": "36707912aa1f457f",
        "g": "31f9c979f25ecadc",
        "name": "Target Energy Price is On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.octopus_energy_target_washing_machine_day_target"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 320,
        "wires": [
            [
                "e54e4e6f46d18749"
            ],
            []
        ]
    },
    {
        "id": "e2294a296af308b7",
        "type": "inject",
        "z": "36707912aa1f457f",
        "g": "c007e1dde9cb920e",
        "name": "At 13:30",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "892bd3539daab1a5",
        "type": "api-call-service",
        "z": "36707912aa1f457f",
        "g": "c007e1dde9cb920e",
        "name": "Start Dryer",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": true,
        "action": "home_connect_alt.start_program",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\t    \"device_id\": \"58a6d48ff34d61b91bfe5d84c68e7480\",\t    \"program_key\": \"LaundryCare.Dryer.Program.TimeWarm\",\t    \"validate\": true,\t    \"options\": [\t        {\t            \"key\": \"BSH.Common.Option.Duration\",\t            \"value\": 3600\t        }\t    ]\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "home_connect_alt",
        "service": "start_program",
        "x": 1070,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "372a410ad19d586b",
        "type": "api-current-state",
        "z": "36707912aa1f457f",
        "g": "c007e1dde9cb920e",
        "name": "Dryer is Ready",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "BSH.Common.EnumType.OperationState.Ready",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.siemens_wt7xh940gb_68a40e264dbd_bsh_common_status_operationstate",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "f670457e61eb5cf4"
            ],
            []
        ]
    },
    {
        "id": "f670457e61eb5cf4",
        "type": "api-current-state",
        "z": "36707912aa1f457f",
        "g": "c007e1dde9cb920e",
        "name": "Dryer Remote Start",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.siemens_wt7xh940gb_68a40e264dbd_bsh_common_status_remotecontrolstartallowed",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "892bd3539daab1a5"
            ],
            []
        ]
    },
    {
        "id": "147fced577b9b1d3",
        "type": "server-state-changed",
        "z": "36707912aa1f457f",
        "g": "c007e1dde9cb920e",
        "name": "Target Energy Price is On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.octopus_energy_target_dryer_day_target"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 500,
        "wires": [
            [
                "372a410ad19d586b"
            ],
            []
        ]
    },
    {
        "id": "5bb8a35c674fe66c",
        "type": "inject",
        "z": "83b3df7543e2c9f9",
        "g": "3fd332fa992c7852",
        "name": "Every 5 Minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "8fbc8a7c2791b855"
            ]
        ]
    },
    {
        "id": "8fbc8a7c2791b855",
        "type": "api-current-state",
        "z": "83b3df7543e2c9f9",
        "g": "3fd332fa992c7852",
        "name": "Check Wine Fridge Temerature",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "10",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.th03_temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 450,
        "y": 80,
        "wires": [
            [
                "b16710c548e4e279"
            ],
            [
                "c1353e8c740151a2"
            ]
        ]
    },
    {
        "id": "b16710c548e4e279",
        "type": "api-call-service",
        "z": "83b3df7543e2c9f9",
        "g": "3fd332fa992c7852",
        "name": "Wine Fridge is Warm",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.wine_fridge_warm"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c1353e8c740151a2",
        "type": "api-call-service",
        "z": "83b3df7543e2c9f9",
        "g": "3fd332fa992c7852",
        "name": "Wine Fridge is Cold",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.wine_fridge_warm"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2166f611673c8eb4",
        "type": "api-call-service",
        "z": "98c80091b4981659",
        "name": "Set House Mode to Day",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "input_select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.house_mode"
        ],
        "labelId": [],
        "data": "{\"option\":\"Day\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_select",
        "service": "select_option",
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a59fa781d76c6d76",
        "type": "sunrise",
        "z": "98c80091b4981659",
        "name": "",
        "lat": "51.2266373",
        "lon": "-0.5846005",
        "start": "sunrise",
        "end": "sunset",
        "soff": 0,
        "eoff": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [],
            [
                "2166f611673c8eb4"
            ]
        ]
    },
    {
        "id": "2b90a8a862be74f5",
        "type": "api-current-state",
        "z": "98c80091b4981659",
        "name": "Get Alarm State",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "armed_away",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "alarm_control_panel.house",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "988d0a3eb504d732"
            ],
            []
        ]
    },
    {
        "id": "988d0a3eb504d732",
        "type": "api-call-service",
        "z": "98c80091b4981659",
        "name": "Run Night",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "scene.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.night"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "scene",
        "service": "turn_on",
        "x": 540,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6c9c7cdb6e0ac56d",
        "type": "eztimer",
        "z": "98c80091b4981659",
        "name": "At 11:15pm",
        "debug": false,
        "autoname": "23:15:00",
        "tag": "eztimer",
        "topic": "",
        "suspended": false,
        "sendEventsOnSuspend": false,
        "latLongSource": "haZone",
        "latLongHaZone": "zone.home",
        "lat": "",
        "lon": "",
        "timerType": "2",
        "startupMessage": false,
        "ontype": "2",
        "ontimesun": "dawn",
        "ontimetod": "23:15:00",
        "onpropertytype": "msg",
        "onproperty": "payload",
        "onvaluetype": "num",
        "onvalue": 1,
        "onoffset": "-30",
        "onrandomoffset": true,
        "onsuppressrepeats": false,
        "offtype": "1",
        "offtimesun": "dusk",
        "offtimetod": "dusk",
        "offduration": "00:01:00",
        "offpropertytype": "msg",
        "offproperty": "payload",
        "offvaluetype": "num",
        "offvalue": 0,
        "offoffset": 0,
        "offrandomoffset": 0,
        "offsuppressrepeats": false,
        "resend": false,
        "resendInterval": "0s",
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "2b90a8a862be74f5"
            ]
        ]
    },
    {
        "id": "eec71dfcb83ec120",
        "type": "api-call-service",
        "z": "ced01d7c7ed36fed",
        "name": "Start LetsEncrypt",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "hassio.addon_start",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"addon\":\"core_letsencrypt\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "hassio",
        "service": "addon_start",
        "x": 330,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3a461bc7e24ad259",
        "type": "inject",
        "z": "ced01d7c7ed36fed",
        "name": "00:05",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "05 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "eec71dfcb83ec120"
            ]
        ]
    },
    {
        "id": "2b7fc5ea51bd48b5",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Target Energy Night Price On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.octopus_energy_target_ev_charging_night_target"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "afafd7c351bb67eb",
                "e576113f3c4b11b8"
            ],
            []
        ]
    },
    {
        "id": "7c0a113b73929648",
        "type": "api-call-service",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Turn Charging On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.charger_charge_control"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "732c6c3a1700068a",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Target Energy Night Price Off",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.octopus_energy_target_ev_charging_night_target"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 200,
        "y": 260,
        "wires": [
            [
                "a8b031c1659c5e77",
                "803f456ce66491c3"
            ],
            []
        ]
    },
    {
        "id": "99e5715f0c78d45b",
        "type": "api-call-service",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Turn Charging Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.charger_charge_control"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 770,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4d15ea3a7a62338a",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Target Energy Day Price On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.octopus_energy_target_ev_charging_day_target"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 200,
        "y": 140,
        "wires": [
            [
                "afafd7c351bb67eb"
            ],
            []
        ]
    },
    {
        "id": "912d186058e1a2cf",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Target Energy Day Price Off",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.octopus_energy_target_ev_charging_day_target"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 200,
        "y": 320,
        "wires": [
            [
                "a8b031c1659c5e77"
            ],
            []
        ]
    },
    {
        "id": "e4af50efbb5e8497",
        "type": "api-current-state",
        "z": "3a4a4140ad6645a3",
        "d": true,
        "g": "79c1e7847be95095",
        "name": "Charger Override is Off",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.charger_override",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 430,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "744cebedb261bd98",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "d": true,
        "g": "79c1e7847be95095",
        "name": "Charger Override On",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.charger_override"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b55638be391227ff",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "d": true,
        "g": "79c1e7847be95095",
        "name": "Charger Override Off",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.charger_override"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "off",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "196b7febad5d5b7e",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "name": "EV Charger Faulted",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_status_connector"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "Faulted",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 500,
        "wires": [
            [
                "29958438adb9e12a"
            ],
            []
        ]
    },
    {
        "id": "29958438adb9e12a",
        "type": "api-call-service",
        "z": "3a4a4140ad6645a3",
        "name": "Notify Me",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "notify.pushover",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"EV charger is in fault state.\",\"title\":\"EV Charger Fault\",\"target\": [\"iphone\"],\"data\": {\"priority\":1}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "pushover",
        "x": 420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0413779038e47ac5",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "name": "EV Charger Unavailable",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_status_connector"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "unavailable",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 560,
        "wires": [
            [
                "8b4b5d224fc7e509"
            ],
            []
        ]
    },
    {
        "id": "8b4b5d224fc7e509",
        "type": "api-call-service",
        "z": "3a4a4140ad6645a3",
        "name": "Notify Me",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "notify.pushover",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"EV charger is unavailable.\",\"title\":\"EV Charger Unavailable\",\"target\": [\"iphone\"],\"data\": {\"priority\":1}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "pushover",
        "x": 440,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "85b6d55f73cfb49c",
        "type": "server-state-changed",
        "z": "3a4a4140ad6645a3",
        "name": "EV Charger Firmware Changed",
        "server": "1dd16987.0978c6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_version_firmware"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "2.2.43, unavailable",
        "ifStateType": "str",
        "ifStateOperator": "does_not_include",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 210,
        "y": 620,
        "wires": [
            [
                "57c0b11bf638225a"
            ],
            []
        ]
    },
    {
        "id": "57c0b11bf638225a",
        "type": "api-call-service",
        "z": "3a4a4140ad6645a3",
        "name": "Notify Me",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "notify.pushover",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\":\"EV charger firmware has changed.\",\"title\":\"EV Charger Firmware\",\"target\": [\"iphone\"],\"data\": {\"priority\":1}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "pushover",
        "x": 500,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "afafd7c351bb67eb",
        "type": "api-current-state",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Car Plugged In",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.charger_availability",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "7c0a113b73929648"
            ],
            []
        ]
    },
    {
        "id": "a8b031c1659c5e77",
        "type": "api-current-state",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Car Plugged In",
        "server": "1dd16987.0978c6",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.charger_availability",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "99e5715f0c78d45b"
            ],
            []
        ]
    },
    {
        "id": "e576113f3c4b11b8",
        "type": "api-call-service",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Turn Socket 1 On",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.car_port_sockets_switch_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "803f456ce66491c3",
        "type": "api-call-service",
        "z": "3a4a4140ad6645a3",
        "g": "79c1e7847be95095",
        "name": "Turn Socket 1 Off",
        "server": "1dd16987.0978c6",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.car_port_sockets_switch_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 770,
        "y": 260,
        "wires": [
            []
        ]
    }
]